<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="PokeApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Battle Helper</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-controller="PokeController">
	  <div class="header">
	    <div class="container">
	      <h1>Pokemon Battle Helper</h1>
	      
	      <div class="expandcollapse-item">
	        <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
	          <p class="description">how this works</p>
	        </div>
	        
	        <div class="slideDown" ng-hide="active">
	          <div class="descriptionContent">
	            enter in a pokemon name and discover which types it is strong and weak against  
	          </div>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	  
	  
	  <div style="text-align:center">
	    <input ng-model="query" class="querybox" placeholder="enter pokemon name">
	  </div>
	  <go-button></go-button>
	  
	  
	  <div class="main">
	    <div class="container">
	      <poke-info info="pokemon"></poke-info>
	    </div>
	  </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="app.js"></script>
  <script src="controllers/PokeController.js"></script>
  <script src="directives/pokeInfo.js"></script>
  <script src="directives/goButton.js"></script>
</body>
</html>
